@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('fonts.css'); */

html {
  @apply overflow-y-scroll;
}

body {
  font-family: 'BCharity', Helvetica, Arial, sans-serif;
  @apply bg-base-100;
  @apply text-black dark:text-white;
}

table {
  @apply bg-base-100;
}

@layer components {
  .gradient {
    background-color: rgba(242, 241, 241);
    background-image: radial-gradient(
        ellipse at 89% 27%,
        rgba(206, 187, 248, 1) 5%,
        rgba(206, 187, 248, 0.16) 33%
      ),
      radial-gradient(
        ellipse at 12% 57%,
        rgba(229, 214, 238, 1) 9%,
        rgba(206, 187, 248, 0.16) 33%
      ),
      radial-gradient(
        ellipse at 46% 96%,
        rgba(223, 230, 254, 0.72) 5%,
        rgba(206, 187, 248, 0.16) 33%
      );
  }
  .darkgradient {
    background-color: #2d2d4d; /* Monotone dark blue color */
    background-image: none;
  }
}

.shimmer {
  @apply animate-pulse;
  @apply bg-base-300;
}

.menu-item {
  @apply block px-4 py-1.5 text-sm text-gray-700 dark:text-gray-200 m-2 rounded-lg cursor-pointer;
}

.text-brand {
  @apply text-brand-500 dark:text-brand-400/80;
}

.linkify a {
  @apply text-brand;
  @apply hover:text-brand-600 dark:hover:text-brand-500;
}

.identicon {
  width: 100% !important;
  height: 100% !important;
}

::-webkit-file-upload-button {
  @apply px-3 py-2 mr-2 border-0 cursor-pointer rounded-l-xl;
  @apply bg-base-content;
}

.bg-hero {
  background: linear-gradient(90deg, #fff, #fff 50%, hsla(0, 0%, 100%, 0)),
    url('../public/bg-hero.png');
  background-size: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.giphy-gif {
  @apply !rounded-none;
}

.page-center {
  @apply flex justify-center items-center h-[calc(100vh-65px)];
}

.tippy-content {
  @apply !px-2.5 !py-0.5;
}

.label {
  @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
}

.react-autosuggest__container {
  position: relative;
  margin-top: 0px;
}

.react-autosuggest__input {
  @apply rounded-xl bg-base-100 border border-gray-300 dark:border-gray-700/80 focus:border-brand-500 focus:ring-brand-400 disabled:opacity-60 disabled:bg-gray-500 disabled:bg-opacity-20 outline-none w-full;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  @apply bg-base-100 border-solid border block font-light text-base overflow-y-auto absolute;
  top: 51px;
  width: 280px;
  border-color: rgba(170, 170, 170, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 200px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  @apply bg-base-200;
}

.dropdown-active {
  @apply bg-base-100;
}

.custom-divider {
  @apply border-b dark:border-gray-700/80;
}

.plyr {
  @apply rounded-lg;
}

.plyr__control--overlaid {
  @apply !bg-brand-500;
}

.plyr--full-ui input[type='range'] {
  @apply !text-brand-500;
}

.plyr__control {
  @apply hover:!bg-brand-500;
}

.text-md {
  @apply !text-sm sm:!text-base;
}

.leading-md {
  @apply !leading-6 sm:!leading-7;
}

.ag-theme-alpine-dark {
  .ag-center-cols-viewport {
    background-color: #120946;
  }

  .ag-header-cell {
    background-color: #120946;
  }

  .ag-header-row-column {
    background-color: #1e1457;
  }

  .ag-cell {
    background-color: #270e54;
  }

  .ag-paging-panel {
    background-color: #120946;
  }
}

.ag-theme-alpine {
  .ag-center-cols-viewport {
    background-color: #eceaf8;
  }

  .ag-header-cell {
    background-color: #eee6ff;
  }

  .ag-header-row-column {
    background-color: #eceaf8;
  }

  .ag-cell {
    background-color: #e5d8ff;
  }

  .ag-paging-panel {
    background-color: #eceaf8;
  }
}
